<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/css/styles.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div id="home-page" class="nav-item">Home Page</div>
        <div>
            <input type="text" id="book-search-input" placeholder="book name">
            <button id="book-search-button" class="button">Search</button>
        </div>
        <div id="nav-right-items">
            <div id="cart" class="nav-item">Cart</div>
            <div id="edit-book-button" class="nav-item">Edit Book</div>
            <script src="/js/header.js"></script>
        </div>
    </header>
    <main>
        <div id="add-book-modal-container" class="display-none">
            <div id="add-book-modal-backdrop" class="backdrop"></div>
            <div class="modal">
                <form action="" class="form" id="add-book-form">
                    <input type="text" id="book-name" placeholder="Book name" required>
                    <input type="text" id="author-name" placeholder="Author name" required>
                    <input type="text" id="image-url" placeholder="Image URL">
                    <input type="text" id="description" placeholder="Description">
                    <input type="number" id="price" placeholder="Price">
                    <input type="submit" value="add book">
                </form>
                <div class="message-container"></div>
            </div>
        </div>
        <div id="edit-book-modal-container" class="display-none">
            <div id="edit-book-modal-backdrop" class="backdrop"></div>
            <div class="modal">
                <form action="" class="form" id="edit-book-form">
                    <input type="text" id="edit-current-book-name" placeholder="Current book name" required>
                    <input type="text" id="edit-book-name" placeholder="Book name">
                    <input type="text" id="edit-author-name" placeholder="Author name">
                    <input type="text" id="edit-image-url" placeholder="Image URL">
                    <input type="text" id="edit-description" placeholder="Description">
                    <input type="number" id="edit-price" placeholder="Price">
                    <input type="submit" value="edit book">
                </form>
                <div class="message-container"></div>
            </div>
        </div>
        <div id="add-to-cart-modal-container" class="display-none">
            <div id="add-to-cart-modal-backdrop" class="backdrop"></div>
            <div class="modal">
                <div class="book-container-placeholder"></div>
                <form action="" id="delete-book">
                    <input type="submit" value="delete book">
                </form>
                <div class="message-container"></div>
            </div>
        </div>
        <div id="books-container">
            {{#each res.results}}
            <div class="book-container" id="{{this.name}}">
                <div class="book-img-container"><img src="{{this.image}}"></div>
                <div>
                    <h3>{{this.name}}</h3>
                </div>
                <div>{{this.author}}</div>
                <div>{{this.price}}</div>
            </div> {{/each}}
        </div>
        <div class="next-previous-wrapper">
            {{#if res.previous}}
            <div id="previous" class="button">Previous
                <div id="{{res.previous.page}}"></div>
            </div>
            {{/if}}
            {{#if res.next}}
            <div id="next" class="button">Next
                <div id="{{res.next.page}}"></div>
            </div>
            {{/if}}
        </div>
    </main>
    <script src="/js/utils/book-utils.js"></script>
    <script src="/js/utils/general-utils.js"></script>
    <script src="/js/modals-and-forms.js"></script>
    <script src="/js/utils/identity-utils.js"></script>
    <script src="/js/admin-page.js"></script>
</body>

</html>